<!DOCTYPE html>
<html lang = "en">
<head>
	<title>Jigsaw Puzzle</title>
	<meta charset = "UTF-8">
	<link rel = "icon" href = "image/icon.png">
	<link rel = "stylesheet" type="text/css" href="jigsaw.css">
	<script src = "js/jquery-3.3.1.min.js"></script>
	<script src = "jigsaw.js"></script>
</head>
<body>
	<h1>Jigsaw Puzzle</h1>
	<div id = "result"></div>
	<div id = "position">
		<div id = "game_square"></div>
			<div class = "common position1" id = "part1"></div>
			<div class = "common position2" id = "part2"></div>
			<div class = "common position3" id = "part3"></div>
			<div class = "common position4" id = "part4"></div>
			<div class = "common position5" id = "part5"></div>
			<div class = "common position6" id = "part6"></div>
			<div class = "common position7" id = "part7"></div>
			<div class = "common position8" id = "part8"></div>
			<div class = "common position9" id = "part9"></div>
			<div class = "common position10" id = "part10"></div>
			<div class = "common position11" id = "part11"></div>
			<div class = "common position12" id = "part12"></div>
			<div class = "common position13" id = "part13"></div>
			<div class = "common position14" id = "part14"></div>
			<div class = "common position15" id = "part15"></div>
			<div class = "common position16" id = "part16"></div>
		<div id = "time">Time:</div>
		<div id = "time_shown">
			<div id = "color"></div>
		</div>
		<button id = "start">Restart</button>
		<button id = "hint">Hint</button>
	</div>
</body>
</html>